body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  margin: auto;
  background-color: #e5cece;
}

.home{
  background-image: url("images/modern.jpg");
  /*background-image: url("images/background.jpg");*/
  background-size: cover;
  height: 475px;
  width: 100%;
  padding-top: 10px;
  opacity: 0.9;
  background-color: black;
  border-top: 100px solid black;
  margin: 0px;
}

.home img{
   height: 30%;
   margin-top: -90px;
   display: flex;
   margin-left: auto;
   margin-right: auto
}

.subtitle{
  margin: 5;
  font-size: 35px;
  text-align: center;
  color: black;
}

.tabela{
  text-align: center;
}
