body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

header {
  width: 90%;
  height: 30px;
  background-size: 60%;

}

.redes-sociais p {
  width: auto;
  float: right;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin: 5px;
}

header .facebook a{
  background: url("images/facebook.png") no-repeat;
  width: 15px;
  background-size: 100%;
  height: 15px;
  display: block;
  float:right;
  margin: 8px;
}

header .instagram a{
  background: no-repeat url("images/instagram.png");
  width: 15px;
  background-size: 100%;
  height: 15px;
  display: block;
  float:right;
  margin: 8px;
}


.home{
  background: no-repeat url("images/background02.jpg") 50% 0;
  background-size: cover;
  height: 350px;
  width: 100%;
  padding-top: 10px;
  margin: 0px;
  }

.home img{
  height: 36%;
  margin-top: 13%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.navigation li {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  margin: 20px;
  text-transform: uppercase;
}

.box{
  background: #f7f6c8;
  height: 100%;
  top: 30px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

div .row{
  padding: 2.5%;
}

.row p{
  font-size: 18px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  text-align: justify;
  }

.texto {
  width: 100%;
}

.texto p{
  margin: 44px 0 10px 0;
  text-align: center;
  font-size: 18px;
}

.formcalorias{
  text-align: left;
  display: flex;
  padding: 2.5%;
  padding-top: 0%;

}

.formcalorias form{
  width: 25%;
  padding-left: 50px;
}

.row img{
  display: block;
  margin: auto;
}

.footer{
  background-color: rgba(255, 248, 220, 0.25);
  text-align: center;
  padding: 2%;
  border: solid #603e18;
  border-width: 3px 1px 2px 1px;
  border-radius: 10px;
  margin: 5px;
}

.footer p{
  padding: 10px;
  font-size: 20px;
}

.footer input{
  margin-right: 10px;
  padding-right: 45px;
}

@media (max-width: 700px) {

  .home img {
    height: 20%;
    padding-left: 10px;
  }

  .subtitle{
    font-size: 25px;
    margin: 10px;
  }

  .navigation li{
    display: flex;
  }

  .formcalorias {
    display: block;
    width: 100%;
        }
